@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply dark:bg-trueGray-900;
  }
}

.hover-effect span {
  display: inline-block;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.hover-effect span:nth-child(1):hover {
  transform: scale(1.2);
  color: #d4a017;
}

.hover-effect span:nth-child(2):hover {
  transform: scale(1.2);
  color: #1d873e;
}


/* ch */
.chatbot-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.chatbot-icon {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chatbot-input-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chatbot-input {
  width: 200px;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.chatbot-submit {
  background-color: #007bff;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left:5px;
}

.chatbot-submit:hover {
  background-color: #0056b3;
}

